<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.compare.pcpartstest.mapper.PcPartsMapper">

    <insert id="insertItem">
        insert into test.test_items
        (
        id,
        item_name,
        price,
        url
        )
        values(
        default,
        #{item_name},
        #{price},
        #{url}
        )
        ON CONFLICT (url)
        DO
        UPDATE SET
        price = excluded.price;
    </insert>


    <select id="getAllItems" resultType="com.compare.pcpartstest.pcparts.PcPartsItem">
        SELECT *
        FROM test.test_items;
    </select>
</mapper>