<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.compare.pcparts.mapper.PcPartsMapper">

    <insert id="insertCpu">
        insert into cpu
        (
        id,
        item_name,
        store_id,
        is_available,
        price,
        currency,
        url,
        image_ref
        )
        values(
        default,
        #{item_name},
        #{store_id},
        #{is_available},
        #{price},
        #{currency},
        #{url},
        #{image_ref}
        )
        ON CONFLICT (url)
        DO
        UPDATE SET
        price = excluded.price;
    </insert>


    <select id="getAllCpu" resultType="com.compare.pcparts.pcandparts.PcPartsItem">
        SELECT *
        FROM cpu
    </select>
</mapper>